# 시리즈 만들기 (p.55)

In [2]:
import pandas as pd

In [3]:
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [4]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index = ['Person', 'Who']) 
#index 이름 지정
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기 (p.56)

In [7]:
scientists = pd.DataFrame({
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]}
)
print(scientists)
#index 지정X

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [9]:
scientists = pd.DataFrame(data = {
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]},
    
    index = ['Rosaline Franklin', 'William Gosset'], #index 이름 지정
    columns = ['Occupation', 'Born', 'Age', 'Died']  #Age랑 Died 순서 변경
    
)
print(scientists)
#index 지정O

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [10]:
#순서 보장된 딕셔너리
from collections import OrderedDict
scientists = pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']),
    ('Born', ['1920-07-25', '1876-06-13']),
    ('Died', ['1958-04-16', '1937-10-16']),
    ('Age', [37, 61])])
)
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기 (p.58)

In [11]:
scientists = pd.DataFrame(data = {
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]},
    
    index = ['Rosaline Franklin', 'William Gosset'], 
    columns = ['Occupation', 'Born', 'Died', 'Age']  
    
)

In [14]:
first_row = scientists.loc['William Gosset']
print(type(first_row)) #loc는 series
print()
print(first_row)  #Age 열에 정수형 리스트를 전달해도 시리즈의 자료형은 object로 인식

<class 'pandas.core.series.Series'>

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

# index, values, keys 사용하기 (p.59)

In [16]:
print(first_row.index) #속성

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [17]:
print(first_row.values) #속성

['Statistician' '1876-06-13' '1937-10-16' 61]

In [18]:
#keys는 속성이 아닌 메서드 (=index 속성과 동일)
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [19]:
print(first_row.index[0])

Occupation

In [20]:
print(first_row.keys()[0])

Occupation

# 시리즈의 mean, min, max, std 메서드 사용하기(p.60)

In [21]:
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [22]:
print(ages.mean()) #평균

49.0

In [23]:
print(ages.min()) #최솟값

37

In [24]:
print(ages.max()) #최댓값

61

In [25]:
print(ages.std()) #표준편차

16.97056274847714

# ------------------------------------------------------
#### append: 2개 이상의 시리즈 연결
#### describe: 요약 통계량 계산
#### drop_duplicates: 중복값이 없는 시리즈 반환
#### equals: 시리즈에 해당 값을 가진 요소가 있는지 확인
#### get_values: 시리즈 값 구하기 (values 속성과 동일)
#### isin: 시리즈에 포함된 값이 있는지 확인
#### median: 중간값 반환
#### replace: 특정 값을 가진 시리즈 값을 교체
#### sample: 시리즈에서 임의의 값을 반환
#### sort_values: 값을 정렬
#### to_frame: 시리즈를 데이터프레임으로 변환
# ------------------------------------------------------

# 시리즈와 불린 추출 사용하기 (p.63)

In [32]:
scientists = pd.read_csv('../data/scientists.csv')

In [35]:
ages = scientists['Age']
print(ages.max())
print(ages.mean())

90
59.125

In [36]:
print(ages[ages > ages.mean()])
#평균보다 큰 age 값 추출

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [38]:
print(ages > ages.mean()) #불린값으로 출력
print()
print(type(ages > ages.mean()))

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

<class 'pandas.core.series.Series'>

In [39]:
manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values]) #True에 해당하는 값만 출력

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅 (p.65)

In [40]:
#시리즈나 데이터프레임에 있는 모든 데이터에 대해 한 번에 연산하는 것: 브로드캐스팅
#시리즈처럼 여러 개의 값을 가진 데이터: 벡터  // 단순 크기를 나타내는 데이터: 스칼라
print(ages + ages)
print()
print(ages * ages)
#같은 길이의 벡터 출력

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [41]:
print(ages + 100)
print()
print(ages * 2)
#벡터의 모든 값에 스칼라를 적용

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [42]:
print(pd.Series([1, 100]))
print()
print(ages + pd.Series([1, 100]))
#개수가 안 맞으면 나머지는 NaN으로 처리됨

0      1
1    100
dtype: int64

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [45]:
rev_ages = ages.sort_index(ascending = False)
print(rev_ages)  #인덱스 역순으로 데이터 정렬

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [46]:
print(ages * 2)
print()
print(ages + rev_ages)
#둘이 값이 같은 이유: 인덱스가 바뀌는 것이 아니기 때문에 인덱스끼리 계산하는 것이므로

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 데이터프레임과 불린 추출 (p.69)

In [47]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [49]:
print(scientists.loc[[True, True, False, True]]) 
#숫자가 안 맞는 건 에러가 나는 것으로 바뀜

IndexError: Boolean index has wrong length: 4 instead of 8

# 데이터프레임과 브로드캐스팅 (p.70)

In [52]:
print(scientists * 2) # 문자열은 2번, 정수형은 2배

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기 (p.71)

In [50]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)
#날짜들도 다 object

object
object

In [53]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)
#날짜의 자료형 변경 (datetime으로)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [54]:
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [59]:
scientists['born_dt'], scientists['died_dt'] = born_datetime, died_datetime
#새로운 열 만들어서 넣기
print(scientists.head())

print(scientists.shape) #shape로 row와 column 수 확인

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14
(8, 7)

In [61]:
scientists['age days_dt'] = scientists['died_dt'] - scientists['born_dt']
print(scientists)
#day로 계산되어 나옴 (datetime이어서 가능)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# 시리즈, 데이터프레임의 데이터 섞어보기 (p.74)

In [65]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [321]:
import random
random.seed(42)  #컴퓨터가 생성하는 난수의 기준값을 정하는 것
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    56
1    61
2    45
3    37
4    77
5    66
6    90
7    41
Name: Age, dtype: int64

# 데이터프레임의 열 삭제하기 (p.75)

In [72]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age days_dt'],
      dtype='object')

In [325]:
scientists_dropped = scientists.drop(['Age'], axis = 1)  
#axis = 1 전달해야 Age열 삭제 가능
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age days_dt'],
      dtype='object')

# 피클 형식으로 저장하기 (p.76)

In [330]:
#데이터를 오래 보관한다는 뜻으로 피클이라는 이름이 붙여짐
names = scientists['Name']
names.to_pickle('../output/scientists_names_series.pickle')

In [334]:
scientist_name_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientist_name_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [336]:
scientists.to_pickle('../output/scientists_df.pickle')

In [337]:
scientists_from_pickle = pd.read_pickle('../output/scientists_df.pickle')
print(scientists_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   56             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   45               Nurse
3           Marie Curie  1867-11-07  1934-07-04   37             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   77           Biologist
5             John Snow  1813-03-15  1858-06-16   66           Physician
6           Alan Turing  1912-06-23  1954-06-07   90  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt age days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# CSV로 저장하기 (p.78)

In [339]:
#CSV 파일은 데이터를 쉼표로 구분 / TSV 파일은 데이터를 탭으로 구분
names.to_csv('../output/scientists_names_series.csv')
scientists.to_csv('../output/scientists_df.tsv', sep='\t')

# 시리즈와 데이터프레임을 엑셀 파일로 저장하기 (p.78)

In [340]:
#pip install xlwt
#pip install openpyxl
names_df = names.to_frame()  #시리즈를 데이터프레임으로 변환

import xlwt
names_df.to_excel('../output/scientists_names_series_df.xls')

import openpyxl
names_df.to_excel('../output/scientists_names_series_df.xlsx')