# 제곱 함수와 n 제곱 함수 만들기 (p.205)

In [1]:
def my_sq(x):
    return x**2

In [2]:
def my_exp(x, n):
    return x**n

In [3]:
print(my_sq(4))
print(my_exp(2, 4))

16
16

# 시리즈와 apply 메서드 (p.206)

In [4]:
import pandas as pd
df = pd.DataFrame({'a' : [10, 20, 30], 'b' : [20, 30, 40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [5]:
print(df['a']**2)

0    100
1    400
2    900
Name: a, dtype: int64

In [6]:
sq = df['a'].apply(my_sq)
print(sq)
#apply에 쓴 함수의 인자가 1개면 생략해야 함

0    100
1    400
2    900
Name: a, dtype: int64

In [7]:
ex = df['a'].apply(my_exp, n = 2)
print(ex)
print()
ex = df['a'].apply(my_exp, n = 3)
print(ex)
#인자가 2개일 때는 n 제곱 함수의 이름, n을 전달함

0    100
1    400
2    900
Name: a, dtype: int64

0     1000
1     8000
2    27000
Name: a, dtype: int64

# 데이터 프레임과 apply 메서드 (p.208)

In [8]:
df = pd.DataFrame({'a' : [10, 20, 30], 'b' : [20, 30, 40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [9]:
def print_me(x):
    print(x)

In [15]:
print(df.apply(print_me, axis = 0)) #기본값 : 열
print()
print(df.apply(print_me, axis = 1)) # 행

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

a    10
b    20
Name: 0, dtype: int64
a    20
b    30
Name: 1, dtype: int64
a    30
b    40
Name: 2, dtype: int64
0    None
1    None
2    None
dtype: object

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [16]:
print(df['a'])
print()
print(df['b'])

0    10
1    20
2    30
Name: a, dtype: int64

0    20
1    30
2    40
Name: b, dtype: int64

# 3개 인자 (p.209)

In [17]:
def avg_3(x, y, z):
    return (x + y + z) / 3

In [18]:
print(df.apply(avg_3))
#3개의 인잣값을 필요로 하는데 1개의 인잣값만 받았다는 오류 출력
#열단위 데이터를 1개로 인식한 것

TypeError: avg_3() missing 2 required positional arguments: 'y' and 'z'

In [19]:
#열끼리 계산
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x + y + z) / 3

In [20]:
print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

In [21]:
#행의 개수를 모를 때
def avg_3_apply(col):
    sum = 0
    for item in col:
        sum += item
    return sum / df.shape[0]

In [22]:
#행끼리 계산
def avg_2_apply(row):
    sum = 0
    for item in row:
        sum += item
    return sum / df.shape[1]

In [25]:
print(df.apply(avg_2_apply, axis = 1))
#행끼리 계산할 때는 axis = 1 꼭 추가하기

0    15.0
1    25.0
2    35.0
dtype: float64

# 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기 - 열 방향 (p.211)

In [26]:
import seaborn as sns
titanic = sns.load_dataset('titanic')

In [31]:
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

In [28]:
import numpy as np
#누락값 개수 세기
def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)  #True 개수 합
    return null_count

In [29]:
cmis_col = titanic.apply(count_missing)
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [32]:
#누락값 비율 계산
def prop_missing(vec):
    num = count_missing(vec)
    dem = vec.size #행*열 수
    return num / dem

In [33]:
pmis_col = titanic.apply(prop_missing)
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [36]:
#누락값이 아닌 데이터의 비율
def prop_complete(vec):
    return 1 - prop_missing(vec)

# 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기 - 행 방뱡 (p.214)

In [37]:
cmis_row = titanic.apply(count_missing, axis = 1)
pmis_row = titanic.apply(prop_missing, axis = 1)
pcom_row = titanic.apply(prop_complete, axis = 1)

In [39]:
print(cmis_row)
print()
print(pmis_row)
print()
print(pcom_row)

0      1
1      0
2      1
3      0
4      1
      ..
886    1
887    0
888    2
889    0
890    1
Length: 891, dtype: int64

0      0.066667
1      0.000000
2      0.066667
3      0.000000
4      0.066667
         ...
886    0.066667
887    0.000000
888    0.133333
889    0.000000
890    0.066667
Length: 891, dtype: float64

0      0.933333
1      1.000000
2      0.933333
3      1.000000
4      0.933333
         ...
886    0.933333
887    1.000000
888    0.866667
889    1.000000
890    0.933333
Length: 891, dtype: float64

In [40]:
titanic['num_missing'] = titanic.apply(count_missing, axis = 1) #하나의 열이 생김 (행 방향)
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  num_missing
0    man        True  NaN  Southampton    no  False            1
1  woman       False    C    Cherbourg   yes  False            0
2  woman       False  NaN  Southampton   yes   True            1
3  woman       False    C  Southampton   yes  False            0
4    man        True  NaN  Southampton    no   True            1

In [49]:
#누락값이 2개 이상인 데이터 추출
print(titanic.loc[titanic.num_missing > 1, :].sample(10))
#print(titanic[titanic['num_missing'] > 1].sample(10))
#아래의 코드도 가능

     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
250         0       3    male   NaN      0      0   7.2500        S  Third
61          1       1  female  38.0      0      0  80.0000      NaN  First
846         0       3    male   NaN      8      2  69.5500        S  Third
533         1       3  female   NaN      0      2  22.3583        C  Third
868         0       3    male   NaN      0      0   9.5000        S  Third
792         0       3  female   NaN      8      2  69.5500        S  Third
563         0       3    male   NaN      0      0   8.0500        S  Third
42          0       3    male   NaN      0      0   7.8958        C  Third
77          0       3    male   NaN      0      0   8.0500        S  Third
778         0       3    male   NaN      0      0   7.7375        Q  Third

       who  adult_male deck  embark_town alive  alone  num_missing
250    man        True  NaN  Southampton    no   True            2
61   woman       False    B          NaN   yes   True            2
846    man        True  NaN  Southampton    no  False            2
533  woman       False  NaN    Cherbourg   yes  False            2
868    man        True  NaN  Southampton    no   True            2
792  woman       False  NaN  Southampton    no  False            2
563    man        True  NaN  Southampton    no   True            2
42     man        True  NaN    Cherbourg    no   True            2
77     man        True  NaN  Southampton    no   True            2
778    man        True  NaN   Queenstown    no   True            2