# 누락값 확인하기 (p.138)

In [65]:
from numpy import NaN, NAN, nan

In [66]:
print(NaN == True)
print(NaN == False)
print(NaN == 0)
print(NaN == '')
# true, false, 0, 빈칸 모두 NaN과는 다름

False
False
False
False

In [67]:
print(NaN == NaN)
print(NaN == nan)
print(NaN == NAN)
print(nan == NAN)
#자기 자신과 비교를 해도 false가 나옴

False
False
False
False

In [68]:
import pandas as pd
print(pd.isnull(NaN))
print(pd.isnull(nan))
print(pd.isnull(NAN))
#누락값을 확인하는 것

True
True
True

In [69]:
print(pd.notnull(NaN))
print(pd.notnull(42))
print(pd.notnull('missing'))
#누락값이 아닌 경우를 검사함

False
True
True

# 데이터 집합을 연결할 때 누락값이 발생하는 경우 (p.140)

In [70]:
visited = pd.read_csv('../data/survey_visited.csv')
survey = pd.read_csv('../data/survey_survey.csv')
print(visited)
print()
print(survey)
#누락값이 있는 것을 함부로 연결하면 더 많은 누락값 발생

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [71]:
vs = visited.merge(survey, left_on = 'ident', right_on ='taken')
print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

# 데이터를 입력할 때 누락값이 발생하는 경우(p.142)

In [72]:
num_legs = pd.Series({'goat' : 4, 'amoeba' : nan})
print(num_legs)
print(type(num_legs))

goat      4.0
amoeba    NaN
dtype: float64
<class 'pandas.core.series.Series'>

In [73]:
scientists = pd.DataFrame({
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'missing' : [NaN, nan]})
print(scientists)
print(type(scientists))

                Name    Occupation        Born        Died  missing
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16      NaN
1     William Gosset  Statistician  1876-06-13  1937-10-16      NaN
<class 'pandas.core.frame.DataFrame'>

# 범위 지정하여 데이터 추출할 때 누락값 발생 경우 (p.143)

In [74]:
gapminder = pd.read_csv('../data/gapminder.tsv', sep = '\t')

In [75]:
life_exp = gapminder.groupby(['year'])['lifeExp'].mean()
print(life_exp)
#연도별 그룹화한 값 중 lifeExp열의 평균

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [93]:
#누락값이 많이 발생하여 에러가 남 : 아래 해결
print(life_exp.loc[range(2000, 2010), ])

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Int64Index([2000, 2001, 2003, 2004, 2005, 2006, 2008, 2009], dtype='int64', name='year'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [77]:
y2000 = life_exp[life_exp.index > 2000]
print(y2000)
#위의 코드 에러 해결

year
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

# 누락값의 개수 구하기 (p.145)

In [79]:
ebola = pd.read_csv('../data/country_timeseries.csv')

In [80]:
print(ebola.count())
#누락값이 아닌 개수

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64

In [81]:
num_rows = ebola.shape[0] #전체 행의 데이터 개수 (누락값까지 모두 합친 것)
num_missing = num_rows - ebola.count()
print(num_missing)  #누락값의 개수

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

In [83]:
import numpy as np
print(np.count_nonzero(ebola.isnull())) 
#배열에서 0이 아닌 값의 개수를 셈: 누락값의 합계 (isnull이 True인 것을 센다.)
#0: False, 1: True
print(np.count_nonzero(ebola['Cases_Guinea'].isnull()))

1214
29

In [84]:
print(ebola.Cases_Guinea.value_counts(dropna=False).head())
#Cases_Guinea 열의 누락값 개수 (value_counts: 열의 빈도)
#dropna = False: 개수 셀 때 NAN 값도 포함

NaN      29
86.0      3
495.0     2
112.0     2
390.0     2
Name: Cases_Guinea, dtype: int64

# 누락값을 다른 값으로 변경하기 (p.147)

In [85]:
print(ebola.fillna(0).iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            0.0            10030.0
1    1/4/2015  288        2775.0            0.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           0.0         8157.0                0.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0            0.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0            0.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [86]:
print(ebola.fillna(method = 'ffill').iloc[0:10, 0:5])
#NaN의 위의 값과 똑같이 씀 : 첫 칸에 NaN이 있다면 채울 수 없음

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2769.0         8157.0             9722.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         8018.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7977.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [87]:
print(ebola.fillna(method = 'bfill').iloc[0:10, 0:5])
#NaN의 아래의 값과 똑같이 씀 : 마지막 칸에 NaN이 있다면 채울 수 없음

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0         8166.0            10030.0
1    1/4/2015  288        2775.0         8166.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2730.0         8157.0             9633.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7977.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7862.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [88]:
print(ebola.interpolate().iloc[0:10, 0:5])
#NaN의 위아래 값의 평균

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2749.5         8157.0             9677.5
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7997.5             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7919.5             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

# 누락값 삭제하기 (p.149)

In [89]:
print(ebola.shape)
ebola_dropna = ebola.dropna()
print(ebola_dropna.shape)
#누락값이 포함된 행 모두 삭제 : 너무 많이 삭제 된 것을 알 수 있음

(122, 18)
(1, 18)

# 누락값이 포함된 데이터 계산하기 (p.150)

In [90]:
ebola['Cases_multiple'] = ebola['Cases_Guinea'] + ebola['Cases_Liberia']
+ ebola['Cases_SierraLeone']

0      10030.0
1       9780.0
2       9722.0
3          NaN
4       9633.0
        ...
117        6.0
118        NaN
119        NaN
120        NaN
121        NaN
Name: Cases_SierraLeone, Length: 122, dtype: float64

In [91]:
ebola_subset = ebola.loc[:, ['Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone', 
                             'Cases_multiple']]
print(ebola_subset.head(n = 10))
#multiple에는 다른 세 가지에서 NaN이 하나라도 있으면 NaN이 나옴

   Cases_Guinea  Cases_Liberia  Cases_SierraLeone  Cases_multiple
0        2776.0            NaN            10030.0             NaN
1        2775.0            NaN             9780.0             NaN
2        2769.0         8166.0             9722.0         10935.0
3           NaN         8157.0                NaN             NaN
4        2730.0         8115.0             9633.0         10845.0
5        2706.0         8018.0             9446.0         10724.0
6        2695.0            NaN             9409.0             NaN
7        2630.0         7977.0             9203.0         10607.0
8        2597.0            NaN             9004.0             NaN
9        2571.0         7862.0             8939.0         10433.0

In [92]:
print(ebola.Cases_Guinea.sum(skipna = True))
#누락값 제외

print(ebola.Cases_Guinea.sum(skipna = False))
#누락값 포함

84729.0
nan